Repository BassedWarrior/TC2005B.501_E1, pull requests merged in 2024-06, with the labels that each got.

#116 Replaced all instances of `gameManager` with `GameManager.Instance`
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/ClashTime.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/HandManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/WaveManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/LoginScene/APIConnection.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/LoginScene/UserDetailsData.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/MenuScene/HighScoreList.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/MenuScene/MenuManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/SceneChanger.cs
Labels: VideoGame, Functional, BackEnd

#110 Use of Paradox Cards
  DataBase/data.sql
  VideoGame/Chronicle_Doom/Assets/Resources/UISprites/SedanFont/SedanSC-Regular SDF.asset
  VideoGame/Chronicle_Doom/Assets/Scenes/CollectionScene.unity
  VideoGame/Chronicle_Doom/Assets/Scenes/GameScene.unity
  VideoGame/Chronicle_Doom/Assets/Scenes/LoginScene.unity
  VideoGame/Chronicle_Doom/Assets/_Scripts/CardPropertiesDrag.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/DataClasses.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/CardAbilities.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/CardAbilities.cs.meta
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/ClashTime.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/MoveManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/SlotController.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/WaveManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/LoginScene/UserDetailsData.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/MenuScene/MenuManager.cs
  VideoGame/Chronicle_Doom/Assets/_Scripts/SceneChanger.cs
Labels: VideoGame, Functional, BackEnd, Sprint5

#123 Bugfix Scores
  VideoGame/Chronicle_Doom/Assets/_Scripts/GameScene/WaveManager.cs
Labels: bug, VideoGame, Functional, BackEnd
